<h1>Taller 2 Web</h1>
<div>
  <form #form="ngForm" (ngSubmit)="buscarUsuario()">
    <label>Usuario:</label>
    <input type="text" name="usuario" [(ngModel)]="txtUser" name="usuario">
    <button type="submit">Buscar usuario</button>
  </form>

  <ng-container *ngIf="usuario">
    <p>Nombre: {{usuario.firstName}}</p>
    <p>Apellido: {{usuario.lastName}}</p>
    <p>Edad: {{usuario.age}}</p>
    <p>Genero: {{usuario.gender}}</p>
    <p>Correo: {{usuario.email}}</p>
    <p>Telefono: {{usuario.phone}}</p>
    <p>Usuario: {{usuario.username}}</p>
  </ng-container>
</div>