<div class="container">
    <ng-container *ngIf="idUsuario">
        <h2 class="text-center text-decoration-underline mt-3">Posts</h2>
        <div *ngFor="let publicacion of publicaciones" class="pb-3">
            <div class="border p-3">
                <h5><strong>{{publicacion.title}}</strong></h5>
                <p>{{publicacion.body}}</p>
                <p><i class="bi-hand-thumbs-up"></i> {{publicacion.reactions}}</p>
            </div>
            <div class="border bg-light p-3">
                <h5><strong>Comentarios</strong></h5>
                <div *ngFor="let comentario of comentariosPorPost[publicacion.id]">
                    <p><strong>{{comentario.user.username}}:</strong> {{comentario.body}}</p>
                </div>
            </div>
        </div>
    </ng-container>
</div>
